
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/0fc90a73-4482-4d9c-b31e-1bb9e28ab99b.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/22b53b56-58a4-4fe3-bd7a-7b2d011a4ba3.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/3f555d64-199d-4656-a84d-f3c261a36275.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/a5afbd46-563a-4d16-8d87-123e70fe577d.vsidx
/.vs
/PRA_B4_FOTOKIOSK/bin
/PRA_B4_FOTOKIOSK/obj
